body, html {
    font-family: Arial, Helvetica, sans-serif;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
  
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.total-countdown-description {
    text-align: center;
}

.total-countdown {
    font-size: 100px;
}

.keybinds-countdown {
    color: white;
}

.keybinds-total-countdown {
    font-size: 45px;
    justify-content: center;
}

.keybinds-day-countdown {
    font-size: 20px;
    text-align: center;
}

.keybinds-list {
    font-size: 16px;
}

.day-countdown {
    text-align: center;
    font-size: 30px;
}

.link {
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
    border-style: transparent;
    color: white;
}

.link:hover {
    border-bottom: solid;
}

.active-link {
    border-bottom: solid;
}

.author {
    color: white;
    border-style: transparent;
    padding: 10px;
}

.author:hover {
    border-right: solid;
}